name: Bob the Builder

on:
  pull_request:
  push:
    branches: [master]

jobs:
  cabal:
    name: ${{ matrix.os }} / ghc ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        cabal: ["3.4.0.0"]
        ghc: ["9.0.1"]

    steps:
    - uses: actions/checkout@v2

    - uses: haskell/actions/setup@v1
      id: setup-haskell-cabal
      name: Setup Haskell
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}
        enable-stack: false

    - name: Cache ~/.cabal/packages, ~/.cabal/store and dist-newstyle
      uses: actions/cache@v2
      with:
        path: |
          ~/.cabal/packages
          ~/.cabal/store
          ${{ github.workspace }}/dist-newstyle
        key: ${{ runner.os }}-${{ matrix.ghc }}

    - name: Update
      run: cabal update

    - name: Install dependencies
      run: cabal new-build -O2 --disable-debug-info --enable-executable-stripping --enable-library-stripping --disable-debug-info --disable-library-for-ghci all --only-dependencies
      working-directory: ${{ github.workspace }}

    - name: Build
      run: cabal new-build -O2 --disable-debug-info --enable-executable-stripping --enable-library-stripping --disable-debug-info --disable-library-for-ghci all
      working-directory: ${{ github.workspace }}

    - name: Copy executable
      run: cp dist-newstyle/build/x86_64-*/ghc-*/axolotl-$(cat axolotl.cabal | grep '^version' | awk '{print $2}')/x/axl/opt/build/axl/axl$(if [ "$RUNNER_OS" == "Windows" ]; then echo ".exe"; else echo ""; fi) axl
      shell: bash
      working-directory: ${{ github.workspace }}

    - uses: actions/upload-artifact@v2
      with:
        name: axl-${{ runner.os }}
        path: ${{ github.workspace }}/axl
